<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jnuelibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_jnuelibrary"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".About"></activity>
        <activity android:name=".ReturnBook" />
        <activity android:name=".UserActivity" />
        <activity android:name=".SeeUserList" />
        <activity android:name=".SeeBorrowList" />
        <activity android:name=".BorrowBook" />
        <activity android:name=".BookDetails" />
        <activity android:name=".SeeBookList" />
        <activity android:name=".AddNewBook" />
        <activity android:name=".Registration" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver android:name=".ReminderBroadcast" />
    </application>

</manifest>